@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Montserrat-black'; 
    font-display:auto;
    src: url('../../public/font/Montserrat/static/Montserrat-Black.ttf') ;
    font-weight:900;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Bold'; 
    font-display:auto;
    src: url('../../public/font/Montserrat/static/Montserrat-Bold.ttf') ;
    font-weight:700;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Medium'; 
    font-display:auto;
    src: url('../../public/font/Montserrat/static/Montserrat-Medium.ttf') ;
    font-weight:500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Thin'; 
    font-display:auto;
    src: url('../../public/font/Montserrat/static/Montserrat-Regular.ttf') ;
    font-weight:400;
    font-display: swap;
}

.font-M-Black{
    font-family: 'Montserrat-black'; 
}

.font-M-Bold{

    font-family: 'Montserrat-Bold'; 
}

.font-M-Medium{
    font-family: 'Montserrat-Medium'; 
}

.font-M-Thin{
    font-family: 'Montserrat-Thin'; 
}
 


@layer components {
    .gradient {
        background: linear-gradient(180deg, #382bd5 0%,  rgba(37, 25, 172, 0) 99.99%,  rgba(40, 28, 179, 0.160576) 100% );
    }
    .glass {
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(5px);
    }
}
html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: Montserrat-Medium;
    font-style: normal;
    font-weight: normal;
    font-display: optional;
}

.divider {
    width: 100%;
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}

.v-divider {
    width: 1.5px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}